{% extends 'assignment/main.html' %} {% block content %}
<div class="container">
    <h3 class="mb-3 mt-3" style="text-decoration: underline; font-weight: bold;">Submit Assignment</h3>
    <br>
    <a class="btn btn-block btn-primary mb-3" href="{% url 'submitform' %}">Submit Assignment Here!</a>
    <br>
    <h3 class="mb-3 mt-3" style="text-decoration: underline; font-weight: bold;">Alloted Assignments</h3>

    <table class="table  table-hover ">
        <thead>
            <tr>
                <th>Staff Name</th>
                <th>Assignment Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr>
                <td>{{assignment.staffname}}</td>
                <td>{{assignment.name}}</td>
                <td>{{assignment.desc}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3 class="mb-3 mt-3" style="text-decoration: underline; font-weight: bold;">Submitted Assignments</h3>

    <table class="table  table-hover ">
        <thead>
            <tr>
                <th>Staff Name</th>
                <th>Assignment Name</th>
                <th>Register Number</th>
                <th>Submitted File Name</th>

            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <td>{{document.staffname}}</td>
                <td>{{document.assignmentname}}</td>
                <td>{{document.regno}}</td>
                <td>{{document.document}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>


</div> {% endblock %}