{% extends 'assignment/main.html' %} {% block content %}



<div class="card card-body">
    <a class="btn btn-block btn-primary" href="{% url 'createassignment' %}">Create Assignment</a>
    <table class="table table-sm">
        <tr>
            <th>Staff Name</th>
            <th>Assignment Name</th>
            <th>Description</th>

            <th>Update</th>
            <th>Remove</th>
        </tr>

        {% for assignment in assignments %}
        <tr>
            <td>{{assignment.staffname}}</td>
            <td>{{assignment.name}}</td>
            <td>{{assignment.desc}}</td>
            <td><a class="btn btn-sm btn-info" href="{% url 'updateassignment' assignment.id %}">Update</a></td>

            <td><a class="btn btn-sm btn-danger" href="{% url 'deleteassignment' assignment.id %}">Delete</a></td>

        </tr>
        {% endfor %}


    </table>
</div>


{% endblock %}